<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>SignIn</title>

        <style>
            body {
                background-image: url('/backgrounds/pexels-steve-29097440.jpg');
                height: 100%;
                width: 100%;
                background-size: cover;
                /* Ensure full coverage */
                background-repeat: no-repeat;
                background-attachment: fixed;
            }
            .Signup {
                font-size: small;
                margin-top: 5px;
                font:bold;
                color: white;
            }
            .poppins-light {
                font-family: "Poppins", serif;
                font-weight: 400;
                font-style: normal;
            }
        </style>
</head>

<body class="poppins-light">
    <%- include('./partials/nav') %>

        <div class="container mt-4">
            <form action="/user/signin" method="post">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <a class="Signup" href="/user/signup">Don't have an account yet? Create Now</a>
        </div>

        <%- include('./partials/scripts') %>
</body>

</html>