<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Your Blogs</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Your Blogs:</h1>
    <%- include('./partials/scripts') %>
</body>
</html>